html {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.navbar {
    background-color: #2c2c2c;
}

.navbar .navbar-brand {
    color: #c4c3c3;
}

.body {
    color: #2c2c2c;
    background-color: #c4c3c3;
    font-size: 18px;
}

.panel-default {
    margin-bottom: 10px !important;
}

.panel-heading {
    background-color: #e8e8e8 !important;
}

.row-white {
    background-color: white;
}

.row-gray {
    background-color: #f8f8f8;
}

